body {
  background-image: url("https://3.bp.blogspot.com/-CBkeyJkASJY/XFUltC8eOEI/AAAAAAAABz0/Dlf9jd3RMPQKSz_G63SgYDiC53NmYNdywCKgBGAs/w2560-h1440-c/night-sky-stars-scenery-landscape-21-4K.jpg");
  
}
img {
  border-radius: 320px;
}

header {
 color: white;
 text-align: center;
 margin: 20;
 background-color: black;
 padding-buttom: 50px;
 padding-top: 80px;
 font-family: 'Diplomata';
 font-size: 40px;
}

h2 {
 color: white;
}

p {
 color: white;
}

ul{
 color: white;	
}
header {
  margin: 0;
}
