body {
  background-color: green;
}

h1 {
  color: orange;
  font-family: italic;
  font-size: 300%; 
}

p {
  color: blue;
  font-style: verdarna;
}
div {
  margin: auto;
  weiht: 10%;
}
button {
   text-align: center;
}
body {
  background-image: url("https://i.pinimg.com/originals/10/74/4f/10744f3afd4369b5254d0bafd0026d6d.jpg");
  background-color: #ffffff;
}
ol {
  color: green;
  border: 5px solid powderblue;
  background-color: hotpink;
}
ul{
   margin: auto;
   width: 50%;
}
p1{
  background-color:red
}
table {
  background-color:red
}