body {
  background-color: gray;
}

h1 {
  color: orange;
  font-family: italic;
  font-size: 300%; 
}

p {
  color: blue;
  font-style: verdarna;
}
div {
  margin: auto;
  width: 20%;
}

button {
   text-align: center;
}


